:root {
    --bg: transparent;
    --th: #00fbff;
    --sc: #000000;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: var(--sc);
    color: var(--th);
    font-family: monospace;
}


/*
Estilo do Modal 
*/



#myModal {
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--th);
    font-family: monospace;

}

.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    position: relative;
    border: 1px solid var(--th);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

    padding: 1rem 1rem;
}

.modal-content::after {
    content: ' Arquivos Marauder';
    color: var(--th);
    font-size: 10px;

    width: 49%;
    height: 1rem;
    background-color: var(--bg);
    border-right: 1px solid var(--th);
    border-top: 1px solid var(--th);

    position: absolute;
    bottom: 100%;
    right: -1px;
}

.modal-content::before {
    content: '';

    width: 1px;
    height: 18px;
    background-color: var(--th);
    transform: rotate(45deg);

    position: absolute;
    right: 250px;
    top: -17px;
}


.modal-header {
    border: none;
}

.modal-footer {
    border: none;
    color: rgb(255, 219, 59);
}

.fechar {
    color: var(--th);
    text-decoration: none;
}


/*
ESTILO DA PAGINA
*/

.btn-proximo {
    border: 1px solid var(--th);
    background-color: var(--bg);
    color: var(--th);
    padding: 18px 98px;


    &:hover {
        background-color: var(--th);
        color: var(--sc);
    }
}

.btn-subpasso {
    border: 1px solid var(--th);
    background-color: var(--bg);
    color: var(--th);
    padding: 18px 98px;
    position: absolute;
    top: 80%;
    left: 34%;


    &:hover {
        background-color: var(--th);
        color: var(--sc);
    }
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
    align-items: center;

    & p {
        padding: 2% 10%;
        left: 50%;
        text-align: left;
    }
}

.subpasso {
    display: none;
}

.subpasso.ativo {
    display: block;
}

.inativo {
    display: none;
}

img {
    max-width: 55%;
    padding: 2px;
    border: 1px solid var(--th);
    border-radius: 0px 2px 0px 2px;
}

.imgCratera {
    width: 45%;
}

#terminal {
    margin: 2% 0 2% 35%;
    letter-spacing: 4px;
    font-weight: bold;
    text-align: left;
    align-items: center;

}

.inserirSenha {
    position: absolute;
    top: 90%;
    left: 42%;

    & #inputSenha {
        background-color: var(--bg);
        color: var(--th);
        border: 1px solid var(--th);
    }

    & #enter {
        background-color: var(--bg);
        color: var(--th);
        border: 1px solid var(--th);

        &:hover {
            background-color: var(--th);
            color: #000000;
        }
    }
}

.btn-redireciona {
    border: 1px solid var(--th);
    background-color: var(--bg);
    color: var(--th);
    padding: 16px 72px;
    position: absolute;
    top: 80%;
    left: 42%;


    &:hover {
        background-color: var(--th);
        color: var(--sc);
    }
}