:root {
    --bg: transparent;
    --th: #00fbff;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}




/*
Plano de fundo com estrelas 
*/



.bg {
    background: url(https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2dldHR5aW1hZ2VzLTEzOTQ5NDM0Ny5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOiIxMjAwIn19fQ==) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}

.bg:before {
    content: "";
    width: 150%;
    height: 100%;
    background: #090a0a;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.92;
}

/*
Posição das camadas
*/

@keyframes sf-pisca-4 {
    0% {
        transform: translateZ(100px);
        opacity: 0.7;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.7;
        transform: translateZ(100px);
    }
}

@keyframes sf-pisca-1 {
    0% {
        transform: translateZ(-603px);
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        transform: translateZ(-603px);
        opacity: 1;
    }
}

@keyframes sf-pisca-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.8;
    }

    to {
        transform: translateZ(-1199px);
        opacity: 1;
    }
}

@keyframes sf-pisca-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.4;
    }

    to {
        transform: translateZ(-1799px);
        opacity: 0.42;
    }
}

@keyframes alt-pisca-1 {
    0% {
        transform: translateZ(-700);
        opacity: 1;
    }

    50% {
        opacity: 0.78;
    }

    100% {
        transform: translateZ(-699);
        opacity: 0.95;
    }
}

.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}

/*
Posição e cor das estrelas
*/

.star-field .layer {
    box-shadow: -100px 0px #cccccc, -20px -322px #cccccc, -411px -576px #cccccc, -411px -576px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
        524px -237px #ffffff, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ff7070, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
        440px 490px #ffd77b, 414px 507px #83d8f7, -12px 246px #ffd77b, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
        -869px -29px #dbdbdb, 502px 80px #ffd77b, 764px 342px #83d8f7, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
        -85px -428px #83d8f7, 714px 55px #83d8f7, 359px -285px #cfcfcf, -362px -508px #ffc1c1, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
        828px 475px #83d8f7, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
        624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ffd77b, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
        563px 47px #83d8f7, 313px 475px #83d8f7, 839px -491px #ffd77b, -217px 377px #67c2ff, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
        -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
        -598px -50px #83d8f7, -833px 187px #83d8f7, 378px 325px #83d8f7, -703px 375px #89ffff, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2.5px;
    width: 2.5px;
    border-radius: 2px;
}

.star-field .altLayer {
    box-shadow: -20px -125px #fff, 66px -94px #fff, 48px -123px #fff, -106px -85px #fff, 12px 15px #fff,
        -32px -69px #ffe48d, -90px -122px #fff, -5px -138px #fff, 82px -67px #ffbd59, 51px -138px #fff, -3px -67px #fff,
        -139px 43px #99f3fa, 87px 47px #f4ff96, 31px -53px #74e3ff, 95px 28px #fffd9e, 26px -121px #fff, -87px 30px #fff,
        32px -12px #fff, -146px -63px #fff, -69px -31px #fff, -105px 41px #fff, 72px -24px #fff, -147px -148px #fff,
        -18px 95px #67ffde, 90px -36px #ff7777, -150px -130px #ffa845;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1.5px;
    width: 1.5px;
    border-radius: 1px;
}

.star-field .planetasLayer {
    box-shadow: -550px -100px #fff, -350px 50px #fff, 200px -110px #fff, 506px 35px #fff, -99px -50px #fff;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5.5px;
    width: 5.5px;
    border-radius: 5px;
}

/*
Tempo de duração de cada camada
*/

.star-field .layer:nth-child(1) {
    animation: sf-pisca-1 4s linear infinite;
}

.star-field .layer:nth-child(2) {
    animation: sf-pisca-2 22s linear infinite;
}

.star-field .layer:nth-child(3) {
    animation: sf-pisca-3 2s linear infinite;
}

.star-field .layer:nth-child(4) {
    animation: sf-pisca-4 10s linear infinite;
}

.star-field .altLayer:nth-child(1) {
    animation: alt-pisca-1 4s linear infinite;
}




/*
Estilo do Modal 
*/



#myModal {
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--th);
    font-family: monospace;

}

.modal-content {
    background-color: transparent;
    font-size: 12px;
    position: relative;
    border: 1px solid var(--th);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

    padding: 1rem 1rem;
}

.modal-content::after {
    content: ' Arquivos Marauder';
    color: var(--th);
    font-size: 10px;

    width: 49%;
    height: 1rem;
    background-color: var(--bg);
    border-right: 1px solid var(--th);
    border-top: 1px solid var(--th);

    position: absolute;
    bottom: 100%;
    right: -1px;
}

.modal-content::before {
    content: '';

    width: 1px;
    height: 18px;
    background-color: var(--th);
    transform: rotate(45deg);

    position: absolute;
    right: 250px;
    top: -17px;
}


.modal-header {
    border: none;
}

.modal-footer {
    border: none;
    color: rgb(255, 219, 59);
}

.fechar {
    color: var(--th);
    text-decoration: none;
}



/*
Coordenadas (antes era um menu de objetivos e eu fiquei com preguiça de mudar os nomes das variáveis)
*/

.menu-objetivos {
    background-color: var(--bg);
    color: var(--th);
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--th);
    border-top: none;
    border-right: none;
    border-bottom-right-radius: 2px;
    padding: 5px 25px;
    cursor: pointer;
    outline: none;

}

.menu-objetivos:focus {
    color: var(--th);
    outline: none;
    background-color: var(--bg);
    border: 1px solid var(--th);
    border-right: none;
    border-top: none;
}

.ativo,
.menu-objetivos:hover {
    background-color: var(--th);
    color: #000000;
    border: none;
    outline: none;
}

.content {
    color: var(--th);
    font-family: monospace;
    position: fixed;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--bg);
    border: none;
    outline: none;
    top: 7%;
}






/*
Estrela e planetas
*/

.hide {
    opacity: 0;
    display: none;

}

.estrela {
    position: fixed;
    top: 0%;
    left: 70%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.planetas {
    display: inline-block;
    border: 1px solid var(--th);
    bottom: 0%;
    height: 23%;
    width: 67.5%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: absolute;
    padding: 1rem 1rem;
}


.planetas::after {
    content: ' Arquivos Marauder';
    color: var(--th);
    font-size: 10px;

    width: 20%;
    height: 1rem;
    background-color: var(--bg);
    border-right: 1px solid var(--th);
    border-top: 1px solid var(--th);

    position: absolute;
    bottom: 100%;
    right: -1px;
}

.planetas::before {
    content: '';

    width: 1px;
    height: 18px;
    background-color: var(--th);
    transform: rotate(45deg);

    position: absolute;
    right: 20.5%;
    top: -17px;
}

.planetas .planeta-ind {
    display: inline-block;
    border: 1px solid var(--th);
    border-radius: 4px;
    padding: 65px 80px;
    color: var(--th);
    background-color: var(--bg);
    background-size: 100px 100px;
    cursor: pointer;
}

.planeta-ind:hover {
    opacity: 0.7;
    transition-duration: 0.3s;
}

.planetas .planeta-ind:nth-child(1) {
    background: url(../imgs/planeta-1.png) no-repeat;
    background-position: center;
}

.planetas .planeta-ind:nth-child(2) {
    background: url(../imgs/planeta-2.png) no-repeat;
    background-position: center;
}

.planetas .planeta-ind:nth-child(3) {
    background: url(../imgs/planeta-3.png) no-repeat;
    background-position: center;
}

.planetas .planeta-ind:nth-child(4) {
    background: url(../imgs/planeta-4.png) no-repeat;
    background-position: center;
}

.planetas .planeta-ind:nth-child(5) {
    background: url(../imgs/planeta-5.png) no-repeat;
    background-position: center;
}

#planeta1:hover .planeta1.hide {
    display: flex;
    position: fixed;
    color: var(--th);
    font-family: monospace;
    font-size: 14px;
    left: 11%;
    top: 33%;
    opacity: 1;
    transition-duration: 0.6s;
} 

#planeta2:hover .planeta2.hide {
    display: flex;
    position: fixed;
    color: var(--th);
    font-family: monospace;
    font-size: 14px;
    left: 26%;
    top: 57%;
    opacity: 1;
    transition-duration: 0.6s;
}

#planeta3:hover .planeta3.hide {
    display: flex;
    position: fixed;
    color: var(--th);
    font-family: monospace;
    font-size: 14px;
    left: 44%;
    top: 41%;
    opacity: 1;
    transition-duration: 0.6s;
}

#planeta4:hover .planeta4.hide {
    display: flex;
    position: fixed;
    color: var(--th);
    font-family: monospace;
    font-size: 14px;
    left: 44.5%;
    top: 32%;
    opacity: 1;
    transition-duration: 0.6s;
}

#planeta5:hover .planeta5.hide {
    display: flex;
    position: fixed;
    color: var(--th);
    font-family: monospace;
    font-size: 16px;
    left: 65.5%;
    top: 54.5%;
    opacity: 1;
    transition-duration: 0.6s;
}